<html>
<head>
    <title>SoundScout</title>
    <script type="text/javascript">
      function submitFriendly(fields) {
      var new_url = '/search/' 
      for (var field_num in fields) {
        new_url += document.getElementById(fields[field_num]).value + '/';
      }
      window.location.href = new_url
      }
    </script>
</head>
<body>
  <form name="input" action="http://127.0.0.1:8000/search/form.html" method="get">
    <input type="text" name="q">
    <input type="submit" value="Submit">
  </form>
<!--  <input type="text" name="q" value="" id="q">
  <p><input type="button" value="Search" onclick="submitFriendly('q');"></p>--!>
</body>
</html>
