1{% extends "search/skeleton.html" %}
{% block title %}SoundScout{% endblock %}
{% block content %}
      <!-- Jumbotron -->
      <div class="jumbotron">
	<form>
	</form>
	<h1 class="text-center">Search</h1>
	<form class="form" action="http://127.0.0.1:8000/search/form.html" method="get">

	  <div class="form-group">
	    <div class="col-md-12">
	      <input id="q" name="q" placeholder="Song Name" class="form-control input-md" type="search">	      
	    </div>
	  </div>
	</form>

      </div>
{% endblock %}
